@media (max-width : 1024px) {
    .card{
        width: 200px;
        height: 250px;
    }
    .card-p{
        font-size: 6px;
    }

    .card-h5{
        font-size: 5px;
    }
    #butin{
        width: 30px;
        font-size: 3px;
        height: 20px;
    }
    .attrit{
        font-size: 5px;
    }
}